body{
    background-image: url('Picture/LupaPassword.png');
    background-repeat: no-repeat;
    background-size:cover;
   }

   a{
    font-family: Poppins;
    font-size: 12px;
    margin-left: 210px; 
   }

   b{
	font-family: Poppins;
	font-size: 12px;
	margin-left: 205px;
}
   
   z{
    font-family: Poppins;
    margin-right: 17px;
    font-size: 12px;
    margin-left: 233px;  
   }

   a1{
    font-family: Poppins;
    color: #00000074;
    font-size: 13px;    
    }

   h1{
    text-align: center;
    font-weight: 300;  
   }
   
    lupapassword{
        font-family: Poppins;
        font-style: italic;
    }

   .tulisan_lupapassword{
    font-family: Poppins;
    margin-top: 135px;
    text-align: center;
    font-size: 25px;
   }
    
   .kotak_lupapassword{
    box-sizing : border-box;
    width: 350px;
    background: rgb(255, 255, 255);
    margin-left:15px;
    padding: 30px 20px;
    align-items: center;
   }
    
   label{
    font-family: Poppins;
    font-size: 11pt;
   }

   input{
    font-family: Poppins;
   }
    
   .form_lupapassword{
    box-sizing : border-box;
    border-radius: 10px;
    border: 0.2rem solid #76BA99;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 30px;  
   }
    
   .tombol_Reset{
    background: #76BA99;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
   }
    
   .link{
    color: #76BA99;
    text-decoration: none;
    font-size: 10pt;
   }